project:
  type: website

website:
  title: "personal_website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Information

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



