project:
  type: website

website:
  navbar:
    left:
      - href: about.qmd
        text: Home
      - href: projects.qmd
        text: Research & Projects
      - href: datatalks.qmd
        text: DataTalks Consulting

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



